
:root {
    --bckcolorRed: red;
    --bckcolorGreen:#049110;
    --bckcolorBlue: blue;
    
    }
    
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    
    body {
        
        padding: 0;
        margin: 0;
    
    }
    
    .container1 {
        display: block;
        top:0;
        
        margin: 0 auto ;
        padding: 0;
    }
    
    header {
        display: block;
        height: 50px;
        max-width: 1440px;
        top:0;
        margin: 0 auto ;
        padding:0;
        background: var(--bckcolorRed);
    
    }
    
    h1 {
        padding:0;
        margin:0;
        font-family: 'Montserrat' , serif ;
        color:white; 
        line-height: 50px;
        font-size: 40px;
        text-align: center;
    }

    .btnair {
        width: 150px;
        height: 40px;
        background: rgb(10, 180, 47);
        color: white;
        font-size: 1.0em;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px 10px 0 0;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s linear;
    }

    
    main {
        display: block;
        position: relative;
        background: #262726;
        height: 90vh;
        max-width: 1440px;
        margin: 0 auto ;
        padding: 0;
    
    }
    
    
    .container2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        
    }
    
    
    .resh3x3 {
        width: 450px;
        height: 450px;
        background-color: rebeccapurple;
        display: flex;
        flex-wrap: wrap;
    }
    
    .box {
        width: 150px;
        height: 150px;
        background-color: #049110;
        border:1px solid rgb(0, 217, 255);
        box-sizing: border-box;
        font-size: 34px;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .disabled {
        opacity: 0.5;
    }
    
    .box:hover {
        background-color: rgb(0, 217, 255 , 0.7 );

    }

    .modalRez {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    
    }
    
    #modalRez1 {
        width: 100%;
        height: 100%;
        position:absolute;
        top: 0;
        left: 0;
        background-color: rgba(59, 160, 55, 0.7);
    
    }
    
    #modalRez2 {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50% , -50% );
        display: flex ;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .modalRez3 {
        color:rgb(11, 65, 65);
        text-align: center; 
        margin: 25px 0 0 0 ; 

    }
      
    .close1 {
        width: 100px;
        height: 40px;
        background-color: red;
        color:rgb(8, 16, 138);
        text-align: center;
        cursor: pointer;
        margin: 0 0 25px 0 ;
        border-radius: 5px;
    }

    .container3 {
        display: flex;
        flex-flow: row; 
        justify-content: center;
        align-items: center;      
    }

    .plr1 {
        display: block;
        position: relative;
        width: 150px;
        height: 40px;
        background-color: rgb(231, 129, 129);
        color:rgb(8, 16, 138);
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }

    .plr2 {
        display: block;
        position: relative;
        width: 150px;
        height: 40px;
        background-color: rgb(8, 16, 138);
        color:rgb(231, 129, 129);
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }
    
    
    .foot {
        position: relative;
        display: block;
        max-width: 1440px;
        margin: 0 auto;
        bottom:0;
        right: 0;
        left: 0;
        background: #049110;
    }
         
    .footer-data {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;     
          
        
    }
         
    .footdata1 {
        padding:0;
        margin:0;
        font-family: 'Montserrat' , serif ;
        color:white; 
        line-height: 50px;
        font-size: 20px;
    }
         
    .footdata1 a  {
        text-decoration: none;
        color: white;
         
    }
         
    .footdata1 a:hover  {
        color: rgb(0, 217, 255);
         
    }
         
    .rs_school {
        display:block;
        width: 100px;
        margin-bottom: 0;
        text-align: center;
    }
       
    .rs_school img {
        display:block;
        width: 100px;
        padding: 0;
        margin: 0;
    }